<%= simple_form_for @spree_admin_callback, url: callback_index_path, :remote => true do |f| %>

  <div class='ajax-errors'></div>

  <%= f.input :name, label: Spree.t("spree_call_me.admin.name") %>
  <%= f.input :phone, label: Spree.t("spree_call_me.admin.phone") %>
  <%= f.input :comment, label: Spree.t("spree_call_me.admin.comment") %>

  <%= f.submit %>
  <%= link_to Spree.t("spree_call_me.front.close"), root_path, :rel => "modal:close", class: 'button' %>
<% end %>
